@model CalculatorApp.Models.Operation

<div class="calculator">

        <div class="display" id="display">
            0
        </div>    

    <div class="operations-row">
            <button type="button" onclick="inputOperation('+')" class="Addition">
                +
            </button>

            <button type="button" onclick="inputOperation('-')" class="Subtraction">
                -
            </button>

            <button type="button" onclick="inputOperation('*')" class="Multiplication">
                *
            </button>

            <button type="button" onclick="inputOperation('/')" class="Division">
                /
            </button>
    </div>

    <div class="numbers-grid">
            <button type="button" onclick="inputNumber(7)" class="number">7</button>
            <button type="button" onclick="inputNumber(8)" class="number">8</button>
            <button type="button" onclick="inputNumber(9)" class="number">9</button>
            <button type="button" onclick="inputNumber(4)" class="number">4</button>
            <button type="button" onclick="inputNumber(5)" class="number">5</button>
            <button type="button" onclick="inputNumber(6)" class="number">6</button>
            <button type="button" onclick="inputNumber(1)" class="number">1</button>
            <button type="button" onclick="inputNumber(2)" class="number">2</button>
            <button type="button" onclick="inputNumber(3)" class="number">3</button>
        <button type="button" onclick="clearCalculator()" class="clear">C</button>
            <button type="button" onclick="inputNumber(0)" class="number">0</button>
            <button type="button" onclick="equals()" class="equals">=</button>
    </div>
   

</div>

<script src="~/js/calculator.js"></script>
